@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto";
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-forca {
  display: flex;
  width: 100%;
  padding: 59px 53px 0 38px;
  margin-bottom: 70px;
}
.container-letras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 56px;
}

.container-forca img {
  width: 400px;
  height: 466.67px;
}

.box-escolherPalavra {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}
.container-forca .box-escolherPalavra .escolherPalavra {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background: #27ae60;
  border-radius: 8px;
  margin-top: 35px;
  margin-bottom: 280px;
}

.container-forca .box-escolherPalavra .escolherPalavra p {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.container-forca .box-escolherPalavra .mostrarLetras p {
  width: 323px;
  height: 68px;
  color: #000000;
  width: 100%;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.container-letras {
  display: flex;
  
  width: 664px;
  height: 91px;
  gap: 11px;
}

.container-letras .box-letras {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
}

.container-letras .box-letras p {
  color: #798a9f;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.botao-letras {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #9faab5;
  border: 1px solid #7aa7c7;
  border-radius: 3px;

  color: #798a9f;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.selecionada {
  color:#39739D;
  background:#E1ECF4;
}

.container-chute {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.container-chute p {
  color: #000000;
  width: 144px;
  height: 23px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.container-chute input {
  width: 353px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.container-chute button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #3c76a1;
  background: #e1ecf4;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
}

.ganhou {
  color: #27AE60;
}

.perdeu {
  color: #FF0000;
}